<!DOCTYPE html>
<html>
    <head>
       <title>로그인 화면</title>
       <link rel="stylesheet" type="text/css" href="/public/css/login.css">
    </head>
    <body>
        <div id="login-container">
            <div id="login-wrap">
                <h2 style="width: 100%; text-align: center; color: gray;">회원 로그인</h2>
                <form action="/login" method="post">
                <div id="login-box">
                        <div class="input-box" style="margin-top: 20px;">
                            <input type="text" id="id" name="id" placeholder="아이디를 입력하세요">
                        </div>
                        <div class="input-box">
                            <input type="text" id="pwd" name="pwd" placeholder="비밀번호를 입력하세요">
                        </div>
                        <div id="button-box">
                            <p><button type="submit" class="login-button" style="background-color: lightpink;">로그인</button></p>
                            <p><button class="login-button" style="background-color:lime">네이버 로그인</button></p>
                        </div>
                </div>
            </form>
                <div id="etc-box">
                    <button>아이디 찾기</button>
                    <button>비밀번호 찾기</button>
                    <button>회원가입</button>
                </div>
            </div>
        </div>
    </body>
    </html>