<!DOCTYPE html>
<html>

<head>
    <title>글쓰기</title>

    <link rel="stylesheet" type="text/css" href="/public/css/write.css">

    <!-- include libraries(jQuery, bootstrap) -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" crossorigin="anonymous" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js" crossorigin="anonymous"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js" crossorigin="anonymous"></script>

    <!-- include summernote css/js-->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet" crossorigin="anonymous">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js" crossorigin="anonymous"></script>
</head>

<body style="background-color: ghostwhite;">

    <!-- <form method="post" action="/board/write">
        <textarea id="summernote" name="editordata"></textarea>
        <button type="submit">등록</button>
    </form> -->
    <%- include('topmenu.ejs') %>

    <div id="write-container">
        <h3 style="padding: 10px;">글쓰기</h3>
        <form method="post" action="/board/write" id="write-form">
            <div class="input-box">
                <span>제목 : </span><input type="text" name="title">
            </div>
            <div class="input-box">
                <textarea id="summernote" name="editordata"></textarea>
            </div>
           
        </form>
        <div class="button-wrap">
            <button id="sub-button">작성하기</button>
        </div>
    </div>
  


    <script>
        $('#sub-button').on('click', () => {
            $('#write-form').submit();
        });

        $(document).ready(function () {
            $('#summernote').summernote({
                placeholder: '내용을 입력해주세요',
                height: 600,
                lang: 'ko-KR',
                callbacks: {
                    onImageUpload: function (files) {
                        sendFile(files[0], this)
                    }
                },
                toolbar: [
                    ['fontname', ['fontname']],
                    ['fontsize', ['fontsize']],
                    ['style', ['bold', 'italic', 'underline', 'strikethrough', 'clear']],
                    ['color', ['forecolor', 'color']],
                    ['table', ['table']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['insert', ['picture']],
                    ['view', ['fullscreen', 'help']]
                ],
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', '맑은 고딕', '궁서', '굴림체', '굴림', '돋움체', '바탕체'],
                fontSizes: ['8', '9', '10', '11', '12', '14', '16', '18', '20', '22', '24', '28', '30', '36', '50', '72']
            });
        });

        function sendFile(file, editor) {
            data = new FormData()
            data.append("img", file)
            $.ajax({
                data: data,
                type: "POST",
                url: "/board/write/img",
                cache: false,
                contentType: false,
                enctype: "multipart/form-data", //multer-s3를 활용하므로 multipart/form-data형태
                processData: false,
                success: function (response) {
                    var imgurl = $('<img>').attr({
                        'src': response, // res의 값은 write/img 의 imgurl.
                        'crossorigin': 'anonymous',
                        // crossorigin attr을 삽입하지 않으면 CORS에러가 난다! (?)
                    });
                    $("#summernote").summernote("insertNode", imgurl[0]);
                    // insertNode는 html tag를 summernote 내부에 삽입해주는 기능.
                }
            })
        }

        </script>
</body>

</html>